.div1 {
    width: 1024px;
    height: 400px;
}
.img1 {
    position: absolute;
    left: 610px;
    width: 410px;
    top: 140px;
}
.img2 {
    position: absolute;
    top: 120px;
    width: 256px;
    height: 124.19px;
    left: 0px;
}
.button1 {
    width: 275px;
    height: 86px;
    position: absolute;
    top: 300px;
    left: -12px;
}
.img3 {
    position: absolute;
    top: 0px;
}
.span1 {
    width: 580px;
    position: absolute;
    font-size: 25px;
    color: #3c2683;
    font-family: Inter;
    left: 5px;
    top: 265px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input,
.select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.registerButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registerButton:hover {
    background-color: #45a049;
}

.closeButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #d32f2f;
}
.img4 {
    position: absolute;
    bottom: 260px;
}
.button2 {
    position: relative;
    top: 400px;
}
.button3 {
    position: relative;
    top: 313px;
    right: 12px;
}
.img5 {
    position: relative;
}
.img6 {
    position: relative;
}
.button4 {
    position: relative;
    top: 312px;
    right: 12px;
}
