.div1 {
    width: 1129.93px;
    height: 383.93px;
}
.img1 {
    position: absolute;
    width: 520.93px;
    height: 383.93px;
    left: 610px;
}
.img2 {
    position: absolute;
    top: 20px;
    width: 256px;
    height: 124.19px;
    left: 0px;
}
.button1 {
    width: 275px;
    height: 86px;
    position: absolute;
    top: 300px;
    left: -12px;
}
.img3 {
    position: absolute;
    top: 0px;
}
.span1 {
    width: 490px;
    position: absolute;
    top: 152px;
    left: 1px;
    font-family: Inter;
    font-size: 25px;
    color: #3c2683;
}
