.img1 {
    position: relative;
    left: 330px;
}
.img2 {
    position: relative;
    left: 659px;
    max-height: 50%;
    width: 50px;
}
.img3 {
    min-height: 50px;
    position: relative;
    left: 245px;
    width: 50px;
}
